<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>FixRTC</key>
				<true/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>Change EC0 to EC</string>
					<key>Find</key>
					<data>RUMwXw==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change HDAS to HDEF</string>
					<key>Find</key>
					<data>SERBUw==</data>
					<key>Replace</key>
					<data>SERFRg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change _OSI to XOSI</string>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change _DSM to XDSM</string>
					<key>Find</key>
					<data>X0RTTQ==</data>
					<key>Replace</key>
					<data>WERTTQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(_Q11,0,N) to XQ11</string>
					<key>Find</key>
					<data>X1ExMQA=</data>
					<key>Replace</key>
					<data>WFExMQA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(_Q12,0,N) to XQ12</string>
					<key>Find</key>
					<data>X1ExMgA=</data>
					<key>Replace</key>
					<data>WFExMgA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change GFX0 to IGPU</string>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change HECI to IMEI</string>
					<key>Find</key>
					<data>SEVDSQ==</data>
					<key>Replace</key>
					<data>SU1FSQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change SAT0 to SATA</string>
					<key>Find</key>
					<data>U0FUMA==</data>
					<key>Replace</key>
					<data>U0FUQQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(PEGP._INI,0,N) to XINI</string>
					<key>Find</key>
					<data>X0lOSQBwAA==</data>
					<key>Replace</key>
					<data>WElOSQBwAA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(_REG,2,N) to XREG</string>
					<key>Find</key>
					<data>X1JFRwI=</data>
					<key>Replace</key>
					<data>WFJFRwI=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(GPRW,2,N) to XPRW</string>
					<key>Find</key>
					<data>R1BSVwI=</data>
					<key>Replace</key>
					<data>WFBSVwI=</data>
				</dict>
			</array>
		</dict>
		<key>SSDT</key>
		<dict>
			<key>Generate</key>
			<dict>
				<key>PluginType</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>dart=0 kext-dev-mode=1 -disablegfxfirmware</string>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<integer>7</integer>
		</dict>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0)/Pci(0x02,0)</key>
			<dict>
				<key>framebuffer-patch-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-stolenmem</key>
				<data>AAAwAQ==</data>
				<key>framebuffer-fbmem</key>
				<data>AACQAA==</data>
				<key>framebuffer-portcount</key>
				<data>AQAAAA==</data>
			</dict>
		</dict>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<true/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
		</array>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Legacy</key>
			<false/>
		</dict>
		<key>Theme</key>
		<string>embedded</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>Intel</key>
			<false/>
		</dict>
		<key>ig-platform-id</key>
		<string>0x591b0000</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>KernelPm</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>change F%uT%04x to F%uTxxxx in AppleBacklightInjector.kext (credit RehabMan)</string>
				<key>Find</key>
				<data>RiV1VCUwNHgA</data>
				<key>Name</key>
				<string>com.apple.driver.AppleBacklight</string>
				<key>Replace</key>
				<data>RiV1VHh4eHgA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>ALC261 to 0</string>
				<key>Find</key>
				<data>YQLsEA==</data>
				<key>Name</key>
				<string>com.apple.driver.AppleHDA</string>
				<key>Replace</key>
				<data>AAAAAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>ALC262 to ALC235</string>
				<key>Find</key>
				<data>YgLsEA==</data>
				<key>Name</key>
				<string>com.apple.driver.AppleHDA</string>
				<key>Replace</key>
				<data>NQLsEA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>100-Series Audio - 0xa170 -&gt; 0xa171</string>
				<key>Find</key>
				<data>cKE=</data>
				<key>Name</key>
				<string>com.apple.driver.AppleHDAController</string>
				<key>Replace</key>
				<data>caE=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Micro Inc. SD Card Reader - pci14e4,16bc -&gt; pci1217,8621</string>
				<key>Find</key>
				<data>cGNpMTRlNCwxNmJj</data>
				<key>Name</key>
				<string>com.apple.driver.AppleSDXC</string>
				<key>Replace</key>
				<data>cGNpMTIxNyw4NjIx</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>ProductName</key>
		<string>MacBookPro14,1</string>
		<key>Trust</key>
		<true/>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
</dict>
</plist>
