<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>Add</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Lenovo Legion Y520 Patches</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-Y520.aml</string>
			</dict>
		</array>
		<key>Patch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Change EC0 to EC</string>
				<key>Find</key>
				<data>RUMwXw==</data>
				<key>Replace</key>
				<data>RUNfXw==</data>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Change HDAS to HDEF</string>
				<key>Find</key>
				<data>SERBUw==</data>
				<key>Replace</key>
				<data>SERFRg==</data>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Change _OSI to XOSI</string>
				<key>Find</key>
				<data>X09TSQ==</data>
				<key>Replace</key>
				<data>WE9TSQ==</data>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Change _DSM to XDSM</string>
				<key>Find</key>
				<data>X0RTTQ==</data>
				<key>Replace</key>
				<data>WERTTQ==</data>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Change SAT0 to SATA</string>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>U0FUMA==</data>
				<key>Replace</key>
				<data>U0FUQQ==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Change Method(GPRW,2,N) to XPRW</string>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>R1BSVwI=</data>
				<key>Replace</key>
				<data>WFBSVwI=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Change Method(_Q11,0,N) to XQ11</string>
				<key>Find</key>
				<data>X1ExMQA=</data>
				<key>Replace</key>
				<data>WFExMQA=</data>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Change Method(_Q12,0,N) to XQ12</string>
				<key>Find</key>
				<data>X1ExMgA=</data>
				<key>Replace</key>
				<data>WFExMgA=</data>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Change GFX0 to IGPU</string>
				<key>Find</key>
				<data>R0ZYMA==</data>
				<key>Replace</key>
				<data>SUdQVQ==</data>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Change HECI to IMEI</string>
				<key>Find</key>
				<data>SEVDSQ==</data>
				<key>Replace</key>
				<data>SU1FSQ==</data>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Change Method(PEGP._INI,0,N) to XINI</string>
				<key>Find</key>
				<data>X0lOSQBwAA==</data>
				<key>Replace</key>
				<data>WElOSQBwAA==</data>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Change Method(_REG,2,N) to XREG</string>
				<key>Find</key>
				<data>X1JFRwI=</data>
				<key>Replace</key>
				<data>WFJFRwI=</data>
				<key>Enabled</key>
				<true/>
			</dict>
		</array>
		<key>Quirks</key>
		<dict>
			<key>NormalizeHeaders</key>
			<true/>
			<key>ResetLogoStatus</key>
			<true/>
		</dict>
	</dict>
	<key>Booter</key>
	<dict>
		<key>Quirks</key>
		<dict>
			<key>SetupVirtualMap</key>
			<true/>
			<key>AvoidRuntimeDefrag</key>
			<true/>
		</dict>
	</dict>
	<key>DeviceProperties</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>PciRoot(0)/Pci(0x2,0)</key>
			<dict>
				<key>framebuffer-patch-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-stolenmem</key>
				<data>AAAwAQ==</data>
				<key>framebuffer-fbmem</key>
				<data>AACQAA==</data>
				<key>framebuffer-portcount</key>
				<data>AQAAAA==</data>
			</dict>
		</dict>
	</dict>
	<key>Kernel</key>
	<dict>
		<key>Add</key>
		<array>
			<dict>
				<key>BundlePath</key>
				<string>Lilu.kext</string>
				<key>Comment</key>
				<string>Lilu</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/Lilu</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>WhateverGreen.kext</string>
				<key>Comment</key>
				<string>Graphics Patcher</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/WhateverGreen</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>AppleALC.kext</string>
				<key>Comment</key>
				<string>Audio Patcher</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/AppleALC</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>RealtekRTL8111.kext</string>
				<key>Comment</key>
				<string>Ethernet Adapter</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/RealtekRTL8111</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>VirtualSMC.kext</string>
				<key>Comment</key>
				<string>SMC Emulator</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VirtualSMC</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>VoodooTSCSync.kext</string>
				<key>Comment</key>
				<string>TSC Sync</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooTSCSync</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>SMCBatteryManager.kext</string>
				<key>Comment</key>
				<string>Battery Status</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/SMCBatteryManager</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>AirportBrcmFixup.kext</string>
				<key>Comment</key>
				<string>Broadcom Wi-Fi</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/AirportBrcmFixup</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>VoodooPS2Controller.kext</string>
				<key>Comment</key>
				<string>PS2 Controller</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooPS2Controller</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>VoodooPS2Controller.kext/Contents/Plugins/VoodooPS2Keyboard.kext</string>
				<key>Comment</key>
				<string>Keyboard</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooPS2Keyboard</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>VoodooPS2Controller.kext/Contents/Plugins/VoodooPS2Trackpad.kext</string>
				<key>Comment</key>
				<string>Trackpad</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooPS2Trackpad</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>BrcmBluetoothInjector.kext</string>
				<key>Comment</key>
				<string>Bluetooth Injector</string>
				<key>Enabled</key>
				<true/>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>BrcmFirmwareData.kext</string>
				<key>Comment</key>
				<string>Bluetooth Firmware Store</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/BrcmFirmwareData</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>BundlePath</key>
				<string>BrcmPatchRAM3.kext</string>
				<key>Comment</key>
				<string>Bluetooth Firmware Uploader</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/BrcmPatchRAM3</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
		</array>
		<key>Quirks</key>
		<dict>
			<key>AppleXcpmCfgLock</key>
			<true/>
			<key>DisableIoMapper</key>
			<true/>
		</dict>
	</dict>
	<key>Misc</key>
	<dict>
		<key>Boot</key>
		<dict>
			<key>HibernateMode</key>
			<string>None</string>
			<key>HideSelf</key>
			<false/>
			<key>ShowPicker</key>
			<true/>
			<key>Timeout</key>
			<integer>3</integer>
			<key>UsePicker</key>
			<true/>
		</dict>
		<key>Security</key>
		<dict>
			<key>RequireSignature</key>
			<false/>
			<key>RequireVault</key>
			<false/>
			<key>ScanPolicy</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>NVRAM</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
			<dict>
				<key>boot-args</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>PlatformInfo</key>
	<dict>
		<key>Automatic</key>
		<true/>
		<key>Generic</key>
		<dict>
			<key>SpoofVendor</key>
			<true/>
			<key>SystemProductName</key>
			<string>MacBookPro14,1</string>
		</dict>
		<key>UpdateDataHub</key>
		<true/>
		<key>UpdateNVRAM</key>
		<true/>
		<key>UpdateSMBIOS</key>
		<true/>
	</dict>
	<key>UEFI</key>
	<dict>
		<key>ConnectDrivers</key>
		<true/>
		<key>Drivers</key>
		<array>
			<string>ApfsDriverLoader.efi</string>
			<string>FwRuntimeServices.efi</string>
			<string>VirtualSmc.efi</string>
			<string>VBoxHfs.efi</string>
		</array>
		<key>Quirks</key>
		<dict>
			<key>ReleaseUsbOwnership</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
