<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Downloads</key>
	<dict>
		<key>GitHub</key>
		<array>
			<dict>
				<key>Author</key>
				<string>acidanthera</string>
				<key>Repo</key>
				<string>Lilu</string>
			</dict>
			<dict>
				<key>Author</key>
				<string>acidanthera</string>
				<key>Repo</key>
				<string>VirtualSMC</string>
			</dict>
			<dict>
				<key>Author</key>
				<string>acidanthera</string>
				<key>Repo</key>
				<string>WhateverGreen</string>
			</dict>
			<dict>
				<key>Author</key>
				<string>acidanthera</string>
				<key>Repo</key>
				<string>AirportBrcmFixup</string>
			</dict>
			<dict>
				<key>Author</key>
				<string>acidanthera</string>
				<key>Repo</key>
				<string>AppleALC</string>
			</dict>
			<dict>
				<key>Author</key>
				<string>acidanthera</string>
				<key>Repo</key>
				<string>MaciASL</string>
			</dict>
		</array>
		<key>Bitbucket</key>
		<array>
			<dict>
				<key>Author</key>
				<string>RehabMan</string>
				<key>Repo</key>
				<string>os-x-voodoo-ps2-controller</string>
			</dict>
			<dict>
				<key>Author</key>
				<string>RehabMan</string>
				<key>Repo</key>
				<string>os-x-realtek-network</string>
			</dict>
			<dict>
				<key>Author</key>
				<string>RehabMan</string>
				<key>Repo</key>
				<string>os-x-brcmpatchram</string>
			</dict>
			<dict>
				<key>Author</key>
				<string>RehabMan</string>
				<key>Repo</key>
				<string>applebacklightfixup</string>
			</dict>
			<dict>
				<key>Author</key>
				<string>RehabMan</string>
				<key>Repo</key>
				<string>voodootscsync</string>
			</dict>
			<dict>
				<key>Author</key>
				<string>RehabMan</string>
				<key>Repo</key>
				<string>acpica</string>
			</dict>
			<dict>
				<key>Author</key>
				<string>RehabMan</string>
				<key>Repo</key>
				<string>os-x-maciasl-patchmatic</string>
				<key>Name</key>
				<string>RehabMan-patchmatic</string>
			</dict>
		</array>
		<key>Hotpatch</key>
		<array>
			<string>SSDT-IGPU.dsl</string>
			<string>SSDT-PNLF.dsl</string>
			<string>SSDT-SATA.dsl</string>
			<string>SSDT-GPRW.dsl</string>
			<string>SSDT-XCPM.dsl</string>
			<string>SSDT-XOSI.dsl</string>
		</array>
	</dict>
	<key>Installations</key>
	<dict>
		<key>Kexts</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Lilu.kext</string>
				<key>Essential</key>
				<true/>
			</dict>
			<dict>
				<key>Name</key>
				<string>VirtualSMC.kext</string>
				<key>Essential</key>
				<true/>
			</dict>
			<dict>
				<key>Name</key>
				<string>WhateverGreen.kext</string>
				<key>Essential</key>
				<true/>
			</dict>
			<dict>
				<key>Name</key>
				<string>VoodooPS2Controller.kext</string>
				<key>Essential</key>
				<true/>
			</dict>
			<dict>
				<key>Name</key>
				<string>SMCBatteryManager.kext</string>
				<key>Essential</key>
				<true/>
			</dict>
			<dict>
				<key>Name</key>
				<string>AirportBrcmFixup.kext</string>
				<key>Essential</key>
				<true/>
			</dict>
			<dict>
				<key>Name</key>
				<string>RealtekRTL8111.kext</string>
				<key>Essential</key>
				<true/>
			</dict>
			<dict>
				<key>Name</key>
				<string>LiluHelper.kext</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleBacklightFixup.kext</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>VoodooTSCSync.kext</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>BrcmPatchRAM2.kext</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>BrcmNonPatchRAM2.kext</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>BrcmFirmwareRepo.kext</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleALC.kext</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleSDXCInjector.kext</string>
			</dict>
		</array>
		<key>Apps</key>
		<array>
			<dict>
				<key>Name</key>
				<string>MaciASL.app</string>
			</dict>
		</array>
		<key>Tools</key>
		<array>
			<dict>
				<key>Name</key>
				<string>iasl</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>patchmatic</string>
			</dict>
		</array>
	</dict>
	<key>Deprecated</key>
	<dict>
		<key>Kexts</key>
		<array>
			<string>FakeSMC.kext</string>
			<string>ACPIBatteryManager.kext</string>
			<string>FakePCIID.kext</string>
			<string>FakePCIID_Intel_HD_Graphics.kext</string>
			<string>FakePCIID_Intel_HDMI_Audio.kext</string>
			<string>FakePCIID_Broadcom_WiFi.kext</string>
			<string>IntelGraphicsFixup.kext</string>
			<string>CodecCommander.kext</string>
			<string>USBInjectAll.kext</string>
			<string>AppleBacklightInjector.kext</string>
			<string>AppleHDA_ALC235.kext</string>
		</array>
	</dict>
</dict>
</plist>
