<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Downloads</key>
	<dict>
		<key>GitHub</key>
		<array>
			<dict>
				<key>Author</key>
				<string>acidanthera</string>
				<key>Repo</key>
				<string>Lilu</string>
				<key>Installations</key>
				<dict>
					<key>Kexts</key>
					<array>
						<dict>
							<key>Name</key>
							<string>Lilu.kext</string>
							<key>Essential</key>
							<true/>
						</dict>
					</array>
				</dict>
			</dict>
			<dict>
				<key>Author</key>
				<string>acidanthera</string>
				<key>Repo</key>
				<string>VoodooPS2</string>
				<key>Installations</key>
				<dict>
					<key>Kexts</key>
					<array>
						<dict>
							<key>Name</key>
							<string>VoodooPS2Controller.kext</string>
							<key>Essential</key>
							<true/>
						</dict>
					</array>
				</dict>
			</dict>
			<dict>
				<key>Author</key>
				<string>acidanthera</string>
				<key>Repo</key>
				<string>VirtualSMC</string>
				<key>Installations</key>
				<dict>
					<key>Kexts</key>
					<array>
						<dict>
							<key>Name</key>
							<string>VirtualSMC.kext</string>
							<key>Essential</key>
							<true/>
						</dict>
						<dict>
							<key>Name</key>
							<string>SMCBatteryManager.kext</string>
							<key>Essential</key>
							<true/>
						</dict>
					</array>
				</dict>
			</dict>
			<dict>
				<key>Author</key>
				<string>acidanthera</string>
				<key>Repo</key>
				<string>WhateverGreen</string>
				<key>Installations</key>
				<dict>
					<key>Kexts</key>
					<array>
						<dict>
							<key>Name</key>
							<string>WhateverGreen.kext</string>
							<key>Essential</key>
							<true/>
						</dict>
					</array>
				</dict>
			</dict>
			<dict>
				<key>Author</key>
				<string>acidanthera</string>
				<key>Repo</key>
				<string>AirportBrcmFixup</string>
				<key>Installations</key>
				<dict>
					<key>Kexts</key>
					<array>
						<dict>
							<key>Name</key>
							<string>AirportBrcmFixup.kext</string>
							<key>Essential</key>
							<true/>
						</dict>
					</array>
				</dict>
			</dict>
			<dict>
				<key>Author</key>
				<string>acidanthera</string>
				<key>Repo</key>
				<string>AppleALC</string>
				<key>Installations</key>
				<dict>
					<key>Kexts</key>
					<array>
						<dict>
							<key>Name</key>
							<string>AppleALC.kext</string>
						</dict>
					</array>
				</dict>
			</dict>
			<dict>
				<key>Author</key>
				<string>alexandred</string>
				<key>Repo</key>
				<string>VoodooI2C</string>
				<key>Installations</key>
				<dict>
					<key>Kexts</key>
					<array>
						<dict>
							<key>Name</key>
							<string>VoodooI2C.kext</string>
							<key>Essential</key>
							<true/>
						</dict>
						<dict>
							<key>Name</key>
							<string>VoodooI2CHID.kext</string>
							<key>Essential</key>
							<true/>
						</dict>
					</array>
				</dict>
			</dict>
			<dict>
				<key>Author</key>
				<string>acidanthera</string>
				<key>Repo</key>
				<string>MaciASL</string>
				<key>Installations</key>
				<dict>
					<key>Apps</key>
					<array>
						<dict>
							<key>Name</key>
							<string>MaciASL.app</string>
						</dict>
					</array>
				</dict>
			</dict>
		</array>
		<key>Bitbucket</key>
		<array>
			<dict>
				<key>Author</key>
				<string>RehabMan</string>
				<key>Repo</key>
				<string>os-x-realtek-network</string>
				<key>Installations</key>
				<dict>
					<key>Kexts</key>
					<array>
						<dict>
							<key>Name</key>
							<string>RealtekRTL8111.kext</string>
							<key>Essential</key>
							<true/>
						</dict>
					</array>
				</dict>
			</dict>
			<dict>
				<key>Author</key>
				<string>RehabMan</string>
				<key>Repo</key>
				<string>os-x-brcmpatchram</string>
				<key>Installations</key>
				<dict>
					<key>Kexts</key>
					<array>
						<dict>
							<key>Name</key>
							<string>BrcmPatchRAM2.kext</string>
						</dict>
						<dict>
							<key>Name</key>
							<string>BrcmNonPatchRAM2.kext</string>
						</dict>
						<dict>
							<key>Name</key>
							<string>BrcmFirmwareRepo.kext</string>
						</dict>
					</array>
				</dict>
			</dict>
			<dict>
				<key>Author</key>
				<string>RehabMan</string>
				<key>Repo</key>
				<string>voodootscsync</string>
				<key>Installations</key>
				<dict>
					<key>Kexts</key>
					<array>
						<dict>
							<key>Name</key>
							<string>VoodooTSCSync.kext</string>
						</dict>
					</array>
				</dict>
			</dict>
			<dict>
				<key>Author</key>
				<string>RehabMan</string>
				<key>Repo</key>
				<string>acpica</string>
				<key>Installations</key>
				<dict>
					<key>Tools</key>
					<array>
						<dict>
							<key>Name</key>
							<string>iasl</string>
						</dict>
					</array>
				</dict>
			</dict>
			<dict>
				<key>Author</key>
				<string>RehabMan</string>
				<key>Repo</key>
				<string>os-x-maciasl-patchmatic</string>
				<key>Name</key>
				<string>RehabMan-patchmatic</string>
				<key>Installations</key>
				<dict>
					<key>Tools</key>
					<array>
						<dict>
							<key>Name</key>
							<string>patchmatic</string>
						</dict>
					</array>
				</dict>
			</dict>
		</array>
	</dict>
	<key>Deprecated</key>
	<dict>
		<key>Kexts</key>
		<array/>
	</dict>
</dict>
</plist>
