<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Downloads</key>
	<dict>
		<key>Hotpatch</key>
		<array>
			<string>SSDT-IGPU.dsl</string>
			<string>SSDT-PNLF.dsl</string>
			<string>SSDT-SATA.dsl</string>
			<string>SSDT-GPRW.dsl</string>
			<string>SSDT-XCPM.dsl</string>
			<string>SSDT-XOSI.dsl</string>
		</array>
		<key>Acidanthera</key>
		<array>
			<string>MaciASL</string>
			<string>Lilu</string>
			<string>WhateverGreen</string>
			<string>VirtualSMC</string>
			<string>AirportBrcmFixup</string>
		</array>
		<key>RehabMan</key>
		<array>
			<string>acpica</string>
			<string>os-x-realtek-network</string>
			<string>os-x-voodoo-ps2-controller</string>
			<string>os-x-brcmpatchram</string>
			<string>applebacklightfixup</string>
			<string>voodootscsync</string>
		</array>
	</dict>
	<key>Exceptions</key>
	<array>
		<string>Sensors</string>
		<string>BrcmFirmwareData</string>
		<string>PatchRAM.kext</string>
		<string>SMCLightSensor</string>
		<string>SMCProcessor</string>
		<string>AppleIntelKBLGraphics</string>
		<string>BroadcomWiFiInjector</string>
		<string>WhateverName</string>
		<string>smc</string>
		<string>rtc</string>
		<string>libaistat</string>
	</array>
	<key>Essentials</key>
	<dict>
		<key>Kexts</key>
		<array>
			<string>VirtualSMC.kext</string>
			<string>RealtekRTL8111.kext</string>
			<string>Lilu.kext</string>
			<string>WhateverGreen.kext</string>
			<string>AirportBrcmFixup.kext</string>
			<string>SMCBatteryManager.kext</string>
			<string>VoodooPS2Controller.kext</string>
		</array>
	</dict>
	<key>Deprecated</key>
	<dict>
		<key>Kexts</key>
		<array>
			<string>FakeSMC.kext</string>
			<string>ACPIBatteryManager.kext</string>
			<string>FakePCIID.kext</string>
			<string>FakePCIID_Intel_HD_Graphics.kext</string>
			<string>FakePCIID_Intel_HDMI_Audio.kext</string>
			<string>FakePCIID_Broadcom_WiFi.kext</string>
			<string>IntelGraphicsFixup.kext</string>
			<string>CodecCommander.kext</string>
			<string>USBInjectAll.kext</string>
			<string>AppleBacklightInjector.kext</string>
		</array>
	</dict>
	<key>Codec</key>
	<string>ALC235</string>
</dict>
</plist>
