<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HDAConfigDefault</key>
	<array>
		<dict>
			<key>AFGLowPowerState</key>
			<data>AwAAAA==</data>
			<key>CodecID</key>
			<integer>283902517</integer>
			<key>ConfigData</key>
			<data>ASccQAEnHQABJx6gAScfsAFHHBABRx0AAUceFwFHH5ABRwwCAZccMAGXHRABlx6BAZcfAAIXHGACFx0QAhceIQIXHwA=</data>
			<key>FuncGroup</key>
			<integer>1</integer>
			<key>LayoutID</key>
			<integer>7</integer>
			<key>Comment</key>
			<string>the-braveknight - Realtek ALC235 for Lenovo Legion Y520</string>
		</dict>
		<dict>
			<key>AFGLowPowerState</key>
			<data>AwAAAA==</data>
			<key>CodecID</key>
			<integer>283902517</integer>
			<key>ConfigData</key>
			<data>ASccQAEnHQABJx6gAScfsAFHHBABRx0AAUceFwFHH5ABRwwCAZccMAGXHRABlx6BAZcfAAIXHGACFx0QAhceIQIXHwA=</data>
			<key>FuncGroup</key>
			<integer>1</integer>
			<key>LayoutID</key>
			<integer>14</integer>
			<key>Comment</key>
			<string>vusun123 - Realtek ALC235 for Lenovo Legion Y520</string>
		</dict>
		<dict>
			<key>AFGLowPowerState</key>
			<data>AwAAAA==</data>
			<key>Codec</key>
			<string>Mirone - Realtek ALC235</string>
			<key>CodecID</key>
			<integer>283902517</integer>
			<key>ConfigData</key>
			<data>ASccEAEnHQABJx6gAScfkAFHHCABRx0AAUceFwFHH5ABdxwwAXcdAAF3HgABdx9AAZccQAGXHRABlx6LAZcfAAHXHFAB1x2QAdce9wHXH0ACFxxgAhcdEAIXHisCFx8BAUcMAgIXDAI=</data>
			<key>FuncGroup</key>
			<integer>1</integer>
			<key>LayoutID</key>
			<integer>2</integer>
		</dict>
	</array>
</dict>
</plist>
